*{
    margin:0px;
}

body{
    background-color:aliceblue;
}

h2.w3-center{
    font-family:"Molle", serif;
    font-size:35px;
}

.w3-display-middle.w3-container{
    padding-top:136.8px;
    padding-bottom:170.8px;
}

.h1-header{
    text-align:center;
    font-family:"Molle", serif;
    line-height:32px;
    color:beige;
    background-color:brown;
    height:80px;
    padding:24px 0;
    margin:0px;
}

h2{
    color:brown;
}

.w3-display-container img{
    width:100%;
    height:auto;
}

.wrapper-1{
    margin-left:auto;
    margin-right:auto;
    width:90%;
}

.wrapper-2{
    margin-left:auto;
    margin-right:auto;
    width:90%;
}

.wrapper-3{
    margin-left:auto;
    margin-right:auto;
    width:90%;
}

p{
    font:400 16px Oswald, sans-serif;
    line-height:20px
}


.about-div{
    background-color:brown;
    height:80px;
    margin:20px, 0;
}

.about-div h1{
    font-family:"Molle", serif;
    text-align:center;
    
}

.menu-div{
    background-color:brown;
    height:80px;
    margin:20px, 0;
}

.menu-div h1{
    font-family:"Molle", serif;
    text-align:center;
    
}

.contact-div{
    background-color:brown;
    height:80px;
    margin:20px, 0;
}

.contact-div h1{
    font-family:"Molle", serif;
    text-align:center;
}

footer{
    background-color:brown;
    height:100px;
    margin-top:60px;
}

p.w3-center{
    margin-top:10px;
    line-height:20px
}

.contact.w3-container.w3-padding.w3-content{
    display:flex;
    justify-content:space-between;
}

#location h4{
    font:500 24px Oswald, sans-serif;
}

#hours h4{
    font:500 24px Oswald, sans-serif;
}

.contact.w3-center h4{
    color:brown;
    font:500 24px Oswald, sans-serif;
}

.socials.w3-container.w3-padding.w3-content{
    margin-left:auto;
    margin-right:auto;    
}

p.footer.w3-center{
    color:beige;

}
